body, html {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    height: 100%;
    font-family: Roboto, sans-serif;
    background-image: url("background.jpg");
    background-size: cover;
    overflow: hidden; /* Prevent scrolling beyond viewport */
    font-size: 13px;
}

#canvas {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.checklist, .note, .table-panel {
    width: 400px; /* Initial and minimum size */
    height: 300px; /* Initial and minimum size */
    min-width: 200px;
    min-height: 200px;
    padding: 10px;
    position: absolute;
    border: none;
    background-color: #303030;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Ensure content doesn't overflow */
    opacity: 0.8;
    border-radius: 5px;
}

.panel-title {
    font-size: 20px;
    font-weight: 500;
    border-style: none;
    padding-bottom: 10px;
    width: 96%;
    background-color: #303030;
    color: #ffffff;
}

.panel-title:focus {
    outline: none; /* Remove the default focus outline */
    border: none; /* Remove the border when in focus */
}

.note-body {
    border-style: none;
    padding-bottom: 10px;
    width: 96%;
    background-color: #303030;
    color: #cecece;
    word-wrap: break-word;
}

.note-body:focus {
    outline: none; /* Remove the default focus outline */
    border: none; /* Remove the border when in focus */
}

.handle {
    width: 40px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 5px auto 10px; /* Centered horizontally, thinner */
    cursor: grab;
}

.todo-list {
    width: 100%; /* Ensure it resizes with the panel */
    flex-grow: 1; /* Fill available space */
    padding: 0;
    margin: 0;
    list-style-type: none; /* Remove default list styling */
}

.todo-item {
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: flex-start; /* Align items to the left */
    padding-bottom: 5px;
    color: #ffffff;
}

.todo-input {
    border-style: none;
    width: 96%;
    background-color: #303030;
    color: #ffffff;
}

.drag-handle {
    cursor: grab;
    border-radius: 50%; /* Circular appearance */
    margin-right: 10px; /* Space before the text */
    opacity: 0.5; /* Greyed out for subtlety */
}

.editable {
    flex-grow: 1; /* Allow the editable area to fill the space */
    margin: 0 5px; /* Spacing for aesthetics */
}

.editable:focus {
    outline: none; /* Remove the default focus outline */
}

.sortable-placeholder {
    border: 1px dashed #ccc;
    background: #f0f0f0;
    height: 1.5rem;
    margin: 5px 0; /* Match todo item margin for consistent spacing */
}
 
.delete-panel {
    position: absolute;
    top: 5px;
    right: 2px;
    background: none;
    color: #9c9c9c;
    border: none;
    font-size: 10px;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete-panel:hover {
    color: #ffffff;
    opacity: 1;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

/* Place the navbar at the top of the page, and make it stick */
.navbar {
    background-color: #383838;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex; /* Add this line to enable flexbox */
    justify-content: center; /* Center the buttons horizontally */
    opacity: 0.3;
    flex-direction: row;
}

.navbar button {
    display: flex;
    outline: none;
    cursor: pointer;
    font-size: 15px;
    line-height: 14px;
    font-weight: 300;
    border-radius: 8px;
    padding: 10px 10px;
    border: 1px solid #fff; /* Change border color to white */
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: transparent; /* Set background to transparent */
    color: #fff; /* Set text color to white */
    margin: 4px;
}
  
  /* Change the color of links on hover */
  .navbar button:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .navbar button.active {
    background-color: #757575;
    color: white;
  }

  .editable-title {
    text-align: center;
    cursor: pointer;
    color: #ffffff;
    opacity: 0.3;
    font-size: 28px;
    background-color: #383838;
    width: 100%;
}

.title-input {
    background: transparent;
    border-style: none;
    /* Remove the border property */
    /* Retain other styles for consistent appearance */
    text-align: center;
    width: 100%;
    color: #ffffff;
    font-size: 28px;
}

/* Enhancing table appearance */
.editable-table {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border-collapse: collapse;
    margin-top: 10px;
    background-color: #383838; /* Slightly different to add depth */
}

.table-panel .editable-table th,
.table-panel .editable-table td {
    border: 1px solid #555; /* Subtle borders for cells */
    padding: 8px;
    text-align: left;
    color: #cecece; /* Light text for readability */
}

.table-panel .editable-table th {
    background-color: #303030; /* Header background to match panel */
}

.table-panel .editable-table tr:nth-child(even) {
    background-color: #404040; /* Alternating row color for better readability */
}

.table-panel .editable-table tr:hover {
    background-color: #505050; /* Hover state for rows */
}

.table-panel .editable-table .editing input {
    width: calc(100% - 16px); /* Full width of cell, accounting for padding */
    padding: 7px;
    background-color: #303030; /* Input background */
    color: #ffffff; /* Input text color */
    border: none; /* Removing default input border */
}

/* Plus symbol at the bottom of the table for adding rows */
.table-panel .add-row-symbol {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #303030; /* Match panel color */
    color: #ffffff;
    font-size: 22px;
    user-select: none; /* Prevent text selection */
}

/* Plus symbol at the right of the table for adding columns */
.table-panel .add-column-symbol {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
    background-color: #303030; /* Match panel color */
    color: #ffffff;
    font-size: 22px;
    user-select: none; /* Prevent text selection */
}

.edit-todo-btn {
    padding: 4px 8px;
    font-size: 12px;
    color: #fff;
    border: none; /* Remove the border */
    background: none; /* Remove the background */
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    opacity: 0.6;
}

.edit-todo-btn:hover {
    background-color: #424242;
}

.edit-todo-btn:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0,123,255,.25);
}

.overlay-panel {
    position: absolute;
    background-color: #303030;
    z-index: 100; /* Ensure it's above other content */
    border-radius: 5px; /* Optional: Adds rounded corners */;
    padding: 10px;
}

.cancel-overlay {
    display: flex;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    border-radius: 8px;
    padding: 8px 8px;
    border: 1px solid #fff; /* Change border color to white */
    transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s, -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
    background: transparent; /* Set background to transparent */
    color: #fff; /* Set text color to white */
    margin: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
}
